<% content_for :title do %>Digital Repository<% end %>

<% if flash[:notice] %>
<div class="alert alert-success"><%=flash[:notice]%></div>
<% end %>

<div class="row-fluid">
    <div class="span12">
        <p>Here are your files in our repository:</p>
        <table class="table table-striped">
            <tr><th>#</th><th>Description</th><th>File Name</th><th>Date Added</th><th>Size</th><th></th></tr>
			<tr><td>1</td><td>My File</td><td>my file.docx</td><td>12-Dec-2014</td><td>125kb</td><td><a href="#">View</a></td></tr>
			<tr><td>2</td><td>My PDF File</td><td>my file.pdf</td><td>12-Nov-2014</td><td>2.5mb</td><td><a href="#">View</a></td></tr>
			<tr><td>3</td><td>My Picture</td><td>my file.jpg</td><td>12-Oct-2014</td><td>2.3mb</td><td><a href="#">View</a></td></tr>
			<tr><td>4</td><td>My Video</td><td>my file.mp4</td><td>12-Sep-2014</td><td>899mb</td><td><a href="#">View</a></td></tr>
        </table>
    <%= link_to 'Add a new file', new_file_path, class: 'btn btn-primary'%>
    </div>
</div>
