    <% @deposit[:dc].each do |dc|  %>
    <div class="form-group">
        <%= label_tag "dc[#{dc.name}]", dc.name.titlecase, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= text_field_tag "dc[#{dc.name}]", dc.text.to_s, class: "form-control" %>
        </div>
    </div>
    <% end %>
      

