<% content_for :title do %>Login<% end %>

<p>To continue, please login. No need to create a new username and
 password. You can login with your Google or OneLogin account.<p>

 <p><a class="btn btn-default" href="/auth/google_oauth2" role="button">Login with Google</a></p>
 <p><a class="btn btn-default" href="/auth/saml" role="button">Login with OneLogin</a></p>