<% content_for :title do %>Login<% end %>

<p>To continue, please login. No need to create a new username and
 password. You can login with your Google account.<p>

 <a class="btn btn-default" href="/auth/google_oauth2" role="button">Login with Google</a>